<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.moonmonkeylabs.realmrecyclerview.example">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LayoutSelectorActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".MainActivity2"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".GridExampleActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".ToDoActivity"
            android:label="@string/title_activity_to_do"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
